/*mis estilos en css afectando a html*/

/*h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:  30px;
}
*/
h1 {
  font: bold 26px Comic Sans MS, Verdana, Geneva, Tahoma, sans-serif;
  color: hsl(0, 50%, 80%);
}

body {
  background-image: url("img/image.jpg");
}

header {
  margin: 15px;
  padding: 10px;
  background-color: green;
  border: 5px dashed darkred;
  border-radius: 20px;
  outline: 2px solid #000;
  outline-offset: 10px;
}

p {
  text-align-last: center;
  word-spacing: 12px;
  color: rgb(204, 204, 204);
  width: 500px;
  height: 150px;
  overflow: scroll;
  background-color: #000;
  border: 2px solid white;
}

footer {
  background-color: gold;
  border: 2px solid #000;
}
